*~
.classpath
.project
target
.settings
.DS_Store
.faces-config.xml.jsfdia
MANIFEST.MF
.idea
*.iml
*.jar
*.xml
RemoteSystemsTempFiles
bin
/LoginApp/build/
/Login_With_DB/nbproject/private/
/TestGUI/nbproject/private/
/TestGUI/build/
