*~
.classpath
.project
target
.settings
.DS_Store
.faces-config.xml.jsfdia
MANIFEST.MF
.idea
*.iml
*.jar
*.xml
RemoteSystemsTempFiles
bin
/LoginApp/build/
/Login_With_DB/nbproject/private/
/TestGUI/nbproject/private/
/TestGUI/build/
/MatrizAlfaNum/nbproject/private/
/MatrizAlfaNum/build/
/MatrizAlfaNum/dist/
/AlfaNum/nbproject/private/
/AlfaNum/build/
/testing/nbproject/private/
/testing/build/
/testing/dist/
/Testing/nbproject/private/
/Testing/build/
/Testing/dist/
/LoginAppShuffle/nbproject/private/
/LoginAppShuffle/build/
/LoginAppShuffle/dist/
/LoginAppRandom/nbproject/private/
/LoginAppRandom/build/
/LoginAppMVC/nbproject/private/
/LoginAppMVC/build/
/DineroE/nbproject/private/